@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


.profileDropdown {
    @apply absolute w-[1/1] p-4 rounded-lg bg-zinc-100 flex flex-col gap-2 justify-center items-center;
    margin-top: 45px;
    right: 3px;
}

.dropDownLink {
    @apply text-sm font-serif text-gray-700 hover:text-gray-500 font-medium;
}

.blackBtn {
    @apply rounded-full border border-black bg-black py-1.5 px-5 text-white transition-all hover:bg-white hover:text-black text-center text-sm flex items-center justify-center;
}

.mainPage {
    background-color:#fbf0f0; 
    height: 100vh;
}

.padding {
    height: 50px;
    background-color:#fbf0f0; 
}

.infoSheet {
    margin: 0 auto;
    width: 50%;
    background-color: white;
    border: 2px solid;
    border-radius: 5px;
    padding: 20px;

    h1, label {
        display: block;
        padding: 5px;
        font-weight: bold;
    }

    input {
        padding: 5px;
        border: 1px solid;
        border-radius: 2px;
        display: block;
        width: 100%;
    }

    label {
        margin: 10px 0;
    }

    button {
        margin: 20px auto;
        background-color: rgb(165, 165, 216);
        padding: 10px;
        border-radius: 2px;
        color: white;
        font-weight: bold;
        width: 20%;
        min-width: 114px;
        display: block;
    }

}